<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div id="wrapper">
  <navigation [loginInfo]="loginInfo" *ngIf="loginInfo"></navigation>

  <div id="page-wrapper" class="gray-bg">

    <topnavbar></topnavbar>

    <div class="container">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2>Campaing <b>Details</b></h2>
            </div>
            <div class="col-sm-4">
              <button type="button" (click)="addNew()" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add
                New</button>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Lead order</th>
              <th>Status</th>
              <th>Actions</th>
              <th>Delete</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let campaing of campaings;  let i = index">
              <td>{{id+1}}</td>
              <td>{{campaing.campaign_name}}</td>
              <td>{{campaing.lead_order}}</td>
              <td><ui-switch size="small" [(ngModel)]="campaing.enable" (change)="onChange($event,campaing.campaign_id)"></ui-switch></td>
              <td>
                <a class="edit" (click)="updateCampaing(campaing.campaign_id)" title="Edit" data-toggle="tooltip"><i
                    class="material-icons">&#xE254;</i></a>

                <a class="edit" (click)="cloneCampaing(campaing.campaign_id)" title="Edit" data-toggle="tooltip"><i
                    class="material-icons content_copy">&#xe14d;</i></a>
                </td>
                <td>
                <a class="delete" (click)="deleteCampaing(campaing.campaign_id)" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="footer">
      <div>
        <strong>Copyright</strong> vici dial &copy; 2019
      </div>
    </div>
  </div>
</div>
