<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div id="wrapper" style="background: #2f4050;">
  <navigation [loginInfo]="loginInfo" *ngIf="loginInfo"></navigation>

  <div id="page-wrapper" class="gray-bg">

    <topnavbar></topnavbar>

    <div class="container">
      <div class="table-wrapper" style="height: 1000px;
      overflow-y: scroll;">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2>Campaing <b>Details</b></h2>
            </div>
            <div class="col-sm-4">
              <button type="button" (click)="addNew()" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add
                New</button>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Campaing Name</th>
              <th>Dial prefix</th>
              <th>Calling Time</th>
              <th>Status</th>
              <th>Actions</th>
              <th *ngIf="hasAccess">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let campaing of campaings;  let i = index">
              <td>{{i+1}}</td>
              <td>{{campaing.name}}</td>
              <td>{{campaing.dialPrefix}}</td>
              <td>{{campaing.localCallTime}}</td>
              <td>
                <ui-switch size="small" [(ngModel)]="campaing.enable" (change)="onChange($event,campaing.id)">
                </ui-switch>
              </td>
              <td>
                <a class="edit" (click)="updateCampaing(campaing.name)" title="Edit" data-toggle="tooltip"><i
                    class="material-icons">&#xE254;</i></a>

                <a class="edit" (click)="cloneCampaing(campaing.name)" title="Edit" data-toggle="tooltip"><i
                    class="material-icons content_copy">&#xe14d;</i></a>
              </td>
              <td *ngIf="hasAccess">
                <a class="delete" (click)="deleteCampaing(campaing.id)" title="Delete" data-toggle="tooltip"><i
                    class="material-icons">&#xE872;</i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="footer">
      <div>
        <strong>Copyright</strong> Microsmart &copy; 2020
      </div>
    </div>
  </div>
</div>