<div id="wrapper" style="background: #2f4050;">
    <navigation [loginInfo]="loginInfo" *ngIf="loginInfo"></navigation>

    <div id="page-wrapper" class="gray-bg">

        <topnavbar></topnavbar>
        <div class="container">
            <div class="row">
                <div
                    class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4 createuser">

                    <h3>Email Blasting</h3>

                    <div class="panel panel-default box-shadow">
                        <div class="panel-heading">
                            <span class="text-primary">Email</span>
                            <span class="text-muted pull-right today" title="Today"></span>
                        </div>
                        <!--.panel-heading-->

                        <div class="panel-body">
                            <div class="form-group">
                                <label for="campaingName">Write Message</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></div>
                                    <textarea style="width:100%;height:100px;" [(ngModel)]="message"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="level">Select Campaing</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></div>
                                    <select class="mdb-select md-form form-control"  [(ngModel)]="campaingName">
                                        <option value="" disabled selected>Choose Camaping</option>
                                        <option *ngFor="let campaing of campaings" value="{{campaing.name}}">{{campaing.name}}</option>
                                      </select>
                                </div>
                            </div>
                            <button type="submit" (click)="submit()" class="btn btn-block btn-success"
                                tabindex="5">Send Email</button>
                        </div>
                    </div>
                    <!--.panel-->

                </div>
            </div>
        </div>
        <div id="myModal" class="{{modelClass}}">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" (click)="closeModal()">&times;</span>
                <h2> Thanks</h2>
                <p> {{popupMessage}}</p>
            </div>

        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Microsmart &copy; 2020
            </div>
        </div>
    </div>
</div>