<div class="col-md-4" style="height: 100%; background-color: rgba(0,0,255,.1)">
  <div class="col-md-12" style="height: 10%;">
   
  </div>
  <button type="button" style="width:37%" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-upload"></span> Upload file
    </button>
    <button type="button" style="width:37%" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-list-alt"></span> Configure DataBase
    </button>
  <textarea type="text" style="height: 75%; width:75%"  [(ngModel)]="numbers"></textarea>
  <div class="col-md-12" style="height: 10%;">.col-md-4</div>
</div>
<div class="col-md-4" style="height: 100%; background-color: rgba(0,0,255,.1)">
  <div class="col-md-12" style="height: 10%;">.col-md-4</div>
  <textarea type="text"  [(ngModel)]="message" style="height: 75%; width:75%"></textarea>
  <button type="button" (click)="sendMessage()" style="width:37.5%" class="btn btn-primary">Send</button>
  <button type="button" style="width:37.5%" class="btn btn-danger">Cancle</button>
  <div class="col-md-12" style="height: 10%;">.col-md-4</div>
</div>
<div class="col-md-4" style="height: 100%; background-color: rgba(0,0,255,.1)">
  <div class="col-md-12" style="height: 10%;">.col-md-4</div>
  <textarea type="text" style="height: 75%; width:75%"></textarea>
  <div class="col-md-12" style="height: 10%;">.col-md-4</div>
</div>
