.login-box {
    z-index: 15;
    /* left: 35%; */
    margin: 0;
    margin-left: 75%;
}
@media (max-width: 768px)
{
  .login-box[_ngcontent-c1] {
    z-index: 15;
    margin: 0;
    margin-left: 5%;
}
}
.buttonleft{
    padding-left: 5%;
}
body{
    background-color: #2f4050 !important;
}
.logoimg {
margin: 0;
margin-left: 10%;
}