<link rel="stylesheet" type="text/css" href="assets/css/creamycrm.css" />

<div class="login-box" id="login-box">
    <div class="margin text-center">
    <img src="assets/img/vicidial_admin_web_logo.png" width="auto" height="64">
    </div>
  <!-- ECCS CUSTOMIZATION -->
  
  <div id="div1" class="login-logo text-center" >
        Welcome to vicidial!
  </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p id="p1" style="" class="login-box-msg">Sign in to start your session</p>
        <form  [formGroup]="registerform" (submit)="submit(registerform)" >
          <div class="form-group has-feedback">
            <input  type="text" class="form-control" formControlName="userName" required="required" placeholder="Username or email"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="password"  formControlName="password" required="required" class="form-control" placeholder="Password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div *ngIf = "errorMsg" name="error-message" style="color: red;">{{errorMsg}}
          </div>
  
          <div class="row">
          
            <div class="form-group buttonleft">
              <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!registerform.valid" 
              >Access</button>
            </div><!-- /.col -->
            <div class="col-xs-3"></div>
          </div>
        </form>
      </div><!-- /.login-box-body -->
  </div><!-- /.login-box -->
    <div style="text-align: center; font-weight: 600; ">Copyright &copy; 2019 <a href="/" target="_blank">Vicidial.</a> All rights reserved.</div>
  