<div id="wrapper">
  <navigation [loginInfo]="loginInfo" *ngIf="loginInfo"></navigation>

  <div id="page-wrapper" class="gray-bg">

    <topnavbar></topnavbar>
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <span class="label label-success pull-right">Agent(s)</span>
              <h5>Agent(s) On call</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">{{holdagents}}</h1>
              <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
              <small>Agents</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <span class="label label-info pull-right">Annual</span>
              <h5>Agent(s) Wating</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">{{liveagents}}</h1>
              <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
              <small>Agents</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <span class="label label-primary pull-right">Today</span>
              <h5>Agents on pause</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">{{pausedagents}}</h1>
              <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
              <small>Agents</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <span class="label label-danger pull-right">users</span>
              <h5>Live Channels</h5>
            </div>
            <div (click)="modelClick1()" class="ibox-content">
                
              <h1 class="no-margins">{{countOfLiveChannels}}</h1>
              <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
              <small>users</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>Campaing list</h5>
                  <div class="ibox-tools">
                    <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content" style="overflow-y: scroll;
                        height: 300px;">
                  <table class="table table-hover no-margins">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Local Call Time</th>
                        <th>Prefix</th>
                        <th>TotalUser</th>
                        <th>Online</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let campaing of campaings;  let i = index">
                        <td><a (click)="modelClick(campaing.name)">{{i+1}}</a></td>
                        <td><a (click)="modelClick(campaing.name)">{{campaing.name}}</a></td>
                        <td>{{campaing.localCallTime}}</td>
                        <td>{{campaing.dialPrefix}}</td>
                        <td>{{campaing.count}}</td>
                        <td>{{campaing.online}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div>
        <strong>Copyright</strong> Microsmart &copy; 2020
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="{{modelClass}}">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <table class="table table-bordered" *ngIf="usersbycampaingempty">
      <thead>
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersbycampaing; let i = index">
          <td *ngIf="user.online==1">{{user.fullName}}</td>
          <td *ngIf="user.online==1">{{user.username}}</td>
          <td *ngIf="user.online==1">Online</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!usersbycampaingempty"> No active user found for this campaing</div>

  </div>

</div>

<div id="myModal1" class="{{modelClass1}}">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal1()">&times;</span>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Channel</th>
          <th>Server_ip</th>
          <th>Channel_group</th>
          <th>Extension</th>
          <th>Channel_data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let channel of liveChannels; let i = index">
          <td>{{i+1}}</td>
          <td>{{channel.channel}}</td>
          <td>{{channel.server_ip}}</td>
          <td>{{channel.channel_group}}</td>
          <td>{{channel.extension}}</td>
          <td>{{channel.channel_data}}</td>
        </tr>
      </tbody>
    </table>
    
  </div>

</div>
