<div id="wrapper" style="background: #2f4050;">
  <navigation [loginInfo]="loginInfo" *ngIf="loginInfo"></navigation>

  <div id="page-wrapper" class="gray-bg">

    <topnavbar></topnavbar>
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-3">
          <div style="box-shadow: 4px 7px 9px 1px;" class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Agent(s) LoggedIn</h5>
            </div>
            <div style="height:55px" class="ibox-content">
              <div style="text-align: center;
              font-size: 19px;
              padding-right: 45%;" class="stat-percent font-bold text-success">{{campaings[0].online}} </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div style="box-shadow: 4px 7px 9px 1px;" class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Agent(s) LoggedOut</h5>
            </div>
            <div style="height:55px" class="ibox-content">
              <div style="text-align: center;
              font-size: 19px;
              padding-right: 42%;" class="stat-percent font-bold text-danger">{{(campaings[0].count-campaings[0].online)}} </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div style="box-shadow: 4px 7px 9px 1px;" class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Total Agent(s)</h5>
            </div>
            <div style="height:55px" class="ibox-content">
              <div style="text-align: center;
              font-size: 19px;
              padding-right: 42%;" class="stat-percent font-bold text-navy">{{campaings[0].count}} </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div style="box-shadow: 4px 7px 9px 1px;" class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Live Channels</h5>
            </div>
            <div style="height:55px" (click)="modelClick1()" class="ibox-content">
                <div style="text-align: center;
                font-size: 19px;
                padding-right: 45%;"  class="stat-percent font-bold text-danger">0 </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5>Campaing list</h5>
                  <div class="ibox-tools">
                    <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content" style="overflow-y: scroll;
                        height: 300px;">
                  <table class="table table-hover no-margins">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Local Call Time</th>
                        <th>Prefix</th>
                        <th>TotalUser</th>
                        <th>Online</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let campaing of campaings;  let i = index">
                        <td><a (click)="modelClick(campaing.name)">{{i+1}}</a></td>
                        <td><a (click)="modelClick(campaing.name)">{{campaing.name}}</a></td>
                        <td>{{campaing.localCallTime}}</td>
                        <td>{{campaing.dialPrefix}}</td>
                        <td>{{campaing.count}}</td>
                        <td>{{campaing.online}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div>
        <strong>Copyright</strong> Microsmart &copy; 2020
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="{{modelClass}}">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <table class="table table-bordered" *ngIf="usersbycampaingempty">
      <thead>
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>Status</th>
          <th>logout<th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersbycampaing; let i = index">
          <td *ngIf="user.online==1">{{user.fullName}}</td>
          <td *ngIf="user.online==1">{{user.username}}</td>
          <td *ngIf="user.online==1">Online</td>
          <td *ngIf="user.online==1"><i class="fa fa-sign-out" (click)="logout(user.username)"></i></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!usersbycampaingempty"> No active user found for this campaing</div>

  </div>

</div>

<div id="myModal1" class="{{modelClass1}}">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal1()">&times;</span>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Channel</th>
          <th>Server_ip</th>
          <th>Channel_group</th>
          <th>Extension</th>
          <th>Channel_data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let channel of liveChannels; let i = index">
          <td>{{i+1}}</td>
          <td>{{channel.channel}}</td>
          <td>{{channel.server_ip}}</td>
          <td>{{channel.channel_group}}</td>
          <td>{{channel.extension}}</td>
          <td>{{channel.channel_data}}</td>
        </tr>
      </tbody>
    </table>
    
  </div>

</div>
