<div id="wrapper">
  <navigation [loginInfo]="loginInfo" *ngIf="loginInfo"></navigation>

  <div id="page-wrapper" class="gray-bg">

    <topnavbar></topnavbar>
    <div class="container">
      <div class="row">
        <div
          class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4 createuser">

          <h3>Create Breaks</h3>

          <div class="panel panel-default box-shadow">
            <div class="panel-heading">
              <span class="text-primary">Create</span>
              <span class="text-muted pull-right today" title="Today"></span>
            </div>
            <!--.panel-heading-->

            <div class="panel-body">
              <form [formGroup]="registerform" (submit)="submit(registerform)" method="POST">

                <div class="form-group">
                    <label for="level">Break Type</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></div>
                      <input autofocus required type="text" formControlName="break_type" class="form-control" placeholder="Comma seperated Values" tabindex="1" >
                    </div>
                  </div>
                  <div  class="form-group">
                    <label for="campaingName">Campaing Name</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></div>
                      <select formControlName="campaing_name" class="mdb-select md-form form-control">
                        <option value="" disabled selected>Select Campaing</option>
                        <option *ngFor="let campaing of campaings"  [value]="campaing.name">{{campaing.name}}</option>
                      </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-success" tabindex="5">Create Break</button>
              </form>
            </div>
          </div>
          <!--.panel-->

        </div>
      </div>
    </div>
    <div class="footer">
      <div>
        <strong>Copyright</strong> Microsmart &copy; 2020
      </div>
    </div>
  </div>
</div>
