<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div id="wrapper" style="background: #2f4050;">
  <navigation [loginInfo]="loginInfo" *ngIf="loginInfo"></navigation>

  <div id="page-wrapper" class="gray-bg">

    <topnavbar></topnavbar>

    <div class="container">
      <div class="table-wrapper" style="height: 1000px;
      overflow-y: scroll;">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2>Leads <b>Details</b></h2>
            </div>
            <div class="col-sm-4">
              <button type="button" (click)="addNew()" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add
                New</button>
            </div>
          </div>
        </div>
        <table class="table table-bordered" style="table-layout: auto !important;">
          <thead>
            <tr>
              <th>Id</th>
              <th>File Name</th>
              <th>campaing</th>
              <th>Status</th>
              <th>ReChaining</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lead of leads;  let i = index">
              <td>{{i+1}}</td>
              <td>{{lead.filename}}</td>
              <td>{{lead.campaingName}}</td>
              <td>
                <ui-switch size="small" [(ngModel)]="lead.enable" (change)="onChange($event,lead.id)">
                </ui-switch>
              </td>
              <td>
               <a class="reChaining" (click)="modelClick(lead.filename,lead.campaingName)" title="ReChaining" data-toggle="tooltip"><i
                    class="material-icons content_copy">&#xe14d;</i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="footer">
      <div>
        <strong>Copyright</strong> Microsmart &copy; 2020
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="{{modelClass}}">

<!-- Modal content -->
<div class="modal-content">
  <span class="close" (click)="closeModal()">&times;</span>
  <div class="panel-body">
    <form [formGroup]="registerform" (submit)="submit(registerform)" method="POST">

      <div class="form-group">
          <label for="level">Lead Name</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-level-up"></i></div>
            <input type="text" formControlName="selectedleadname" [(ngModel)]="selectedleadname" class="form-control" placeholder="" tabindex="1">
       
          </div>
        </div>
      <div class="form-group">
        <label for="duplicateCheck">Select Status</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
          <select  class="mdb-select md-form form-control" formControlName="status">
              <option *ngFor="let statusCampaing of status;" value="statusCampaing">{{statusCampaing}}</option>
          </select>
        </div>
      </div>
      <!-- <div class="form-group">
        <div class="input-group">
          <div *ngIf=fileCounter class="input-group-addon">Number of leads available for rechained: {{fileCounter}} </div>
         </div>
      </div> -->
      <div *ngIf=processing class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Please wait while we are processing... </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          
          <div *ngIf=numberOfItemsRechained class="input-group-addon">Number of leads rechained: {{numberOfItemsRechained}} </div>
        </div>
      </div>
      <button type="submit" class="btn btn-block btn-success" tabindex="5">Rechain</button>
    </form>
  </div>
</div>  
</div>

