<style>
  .drop {
    display: none
  }

  .drops:hover .drop {
    display: block
  }

  .img-custom {
    width: 100%
  }

</style>
<nav style="    bottom: 0;
top: 0;
background: #2f4050;" class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header" style="padding: 0px 0px;">
        <div class="dropdown profile-element" style="height: 42px;">
          <span>
            <img alt="image" class="img-custom" height="60" src="./assets/img/logo.jpeg" />
          </span>
        </div>
        <div class="logo-element">
          MBS
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('home')}" style="margin-top: 20px;">
        <a [routerLink]="['/home']"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboards</span>

        </a>
      </li>
      <li [ngClass]="{active: activeRoute('createUser')}">
        <a class="drops"><i class="fa fa-user"></i> <span class="nav-label">Configuration</span><i class="fa fa-caret-down"
            style="    margin-left: 25%;"></i>
          <div class="drop">
            <ul class="nav metismenu" id="side-menu">
              <!-- <li [ngClass]="{active: activeRoute('createUser')}">
                <a [routerLink]="['/createUser']"><i class="fa fa-book"></i> <span class="nav-label">Create
                  </span></a>
              </li> -->
              <li [ngClass]="{active: activeRoute('showUser')}">
                <a [routerLink]="['/showUser']"><i class="fa fa-folder-open"></i> <span class="nav-label">User
                  </span></a>
              </li>
              <li [ngClass]="{active: activeRoute('showCampaing')}">
                <a [routerLink]="['/showCampaing']"><i class="fa fa-folder-open"></i> <span class="nav-label">Campaing
                  </span></a>

                  
              </li>
              <li [ngClass]="{active: activeRoute('showGroups')}">
                <a [routerLink]="['/showGroups']"><i class="fa fa-group"></i> <span class="nav-label">Groups</span>
  
                </a>
                  
              </li>
              <li [ngClass]="{active: activeRoute('showBreaktype')}">
                <a [routerLink]="['/showBreaktype']"><i class="fa fa-group"></i> <span class="nav-label">Breaks</span>
  
                </a>
                  
              </li>
              <li [ngClass]="{active: activeRoute('recording')}">
                <a [routerLink]="['/recording']"><i class="fa fa-group"></i> <span class="nav-label">Recordings</span>
  
                </a>
                  
              </li>
              <li [ngClass]="{active: activeRoute('show_emails')}">
                <a [routerLink]="['/show_emails']"><i class="fa fa-group"></i> <span class="nav-label">Emails</span>
                </a>
                  
              </li>
              
            </ul>
          </div>
        </a>
      </li>
      <!-- <li [ngClass]="{active: activeRoute('campaing')}">
        <a class="drops"><i class="fa fa-dashboard"></i> <span class="nav-label">Campaing</span><i
            class="fa fa-caret-down" style="    margin-left: 36%;"></i>
          <div class="drop">
            <ul class="nav metismenu" id="side-menu">
              <li [ngClass]="{active: activeRoute('createCampaing')}">
                <a [routerLink]="['/createCampaing']"><i class="fa fa-book"></i> <span
                    class="nav-label">Create</span></a>
              </li> 
              <li [ngClass]="{active: activeRoute('showCampaing')}">
                <a [routerLink]="['/showCampaing']"><i class="fa fa-folder-open"></i> <span class="nav-label">Show
                  </span></a>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li *ngIf="showGroup" [ngClass]="{active: activeRoute('showGroups')}">
          <a [routerLink]="['/showGroups']"><i class="fa fa-group"></i> <span class="nav-label">Groups</span>
  
          </a>
        </li> -->
        <li [ngClass]="{active: activeRoute('misReport')}">
            <a class="drops"><i class="fa fa-dashboard"></i> <span class="nav-label">Reporting</span><i
                class="fa fa-caret-down" style="    margin-left: 36%;"></i>
              <div class="drop">
                <ul class="nav metismenu" id="side-menu">
                  <li [ngClass]="{active: activeRoute('misReport')}">
                    <a [routerLink]="['/misReport']"><i class="fa fa-book"></i> <span
                        class="nav-label">Mis Report</span></a>
                  </li>
                  <li [ngClass]="{active: activeRoute('attendance')}">
                    <a [routerLink]="['/attendance']"><i class="fa fa-book"></i> <span
                        class="nav-label">Attendance Report</span></a>
                  </li>
                  <li [ngClass]="{active: activeRoute('showRecordings')}">
                    <a [routerLink]="['/showRecordings']"><i class="fa fa-book"></i> <span
                        class="nav-label">Recording Report</span></a>
                  </li>
                </ul>
              </div>
            </a>
          </li>

          <li *ngIf="showGroup" [ngClass]="{active: activeRoute('showGroups')}">
            <a [routerLink]="['/showleads']"><i class="fa fa-group"></i> <span class="nav-label">PhoneBook</span>
    
            </a>
          </li>
          <li *ngIf="level==10" [ngClass]="{active: activeRoute('recharging')}">
            <a [routerLink]="['/recharging']"><i class="fa fa-group"></i> <span class="nav-label">Recharge</span>
    
            </a>
          </li>
          <li *ngIf="level==10" [ngClass]="{active: activeRoute('setPricing')}">
            <a [routerLink]="['/setPricing']"><i class="fa fa-group"></i> <span class="nav-label">Set Pricing</span>
    
            </a>
          </li>
          <li *ngIf="level==10" [ngClass]="{active: activeRoute('emailMessage')}">
            <a [routerLink]="['/emailMessage']"><i class="fa fa-group"></i> <span class="nav-label">Email Blasting</span>
    
            </a>
          </li>
          <li [ngClass]="{active: activeRoute('dnd')}">
            <a [routerLink]="['/dnd']"><i class="fa fa-group"></i> <span class="nav-label">Filter DND</span>
            </a>
          </li>
          <li [ngClass]="{active: activeRoute('dndUpload')}">
            <a [routerLink]="['/dndUpload']"><i class="fa fa-group"></i> <span class="nav-label">DND Upload</span>
            </a>
          </li>
          <!-- <li [ngClass]="{active: activeRoute('createUser')}">
              <a class="drops"><i class="fa fa-user"></i> <span class="nav-label">Leads</span><i class="fa fa-caret-down"
                  style="    margin-left: 55%;"></i>
                  <a [routerLink]="['/showleads']"><i class="fa fa-folder-open"></i> <span class="nav-label">Show
                  </span></a> -->
                <!-- <div class="drop">
                  <ul class="nav metismenu" id="side-menu">
                     <li [ngClass]="{active: activeRoute('createUser')}">
                      <a [routerLink]="['/leads']"><i class="fa fa-book"></i> <span class="nav-label">Create
                        </span></a>
                    </li> 
                    <li [ngClass]="{active: activeRoute('showUser')}">
                      <a [routerLink]="['/showleads']"><i class="fa fa-folder-open"></i> <span class="nav-label">Show
                        </span></a>
                    </li>
                  </ul>
                </div> -->
              <!-- </a>
            </li> -->
      
    </ul>
  </div>
</nav>
